package ${packageName}.mapper;

import ${packageName}.domain.${ClassName};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 * Created with IntelliJ IDEA.
 * Description:  ${functionName}Mapper接口
 *
 * @version 1.0
 * @author: TheFei
 * @Date: ${datetime}
 * @Time: 19:09
 */
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}>
{
    List<${ClassName}Vo> queryListPaging(${ClassName}QueryBo bo);
}
